{% extends 'basic.html' %}

{% block aboutactive %} active {% endblock %}
{% load static %}

{% block body %}

<!--About Intro-->


<div class="px-4 py-5 my-3 text-center about-section" data-aos="fade-up"
data-aos-duration="3000">
    <img class="d-block mx-auto mb-4" src="/static/img/about.png" alt="" >

    <div class="links">
        <a href="https://www.linkedin.com/in/evangel04/" target="_blank" class="my-3 mx-2" ><i class="ri-linkedin-box-fill fs-3"></i></a>
        <a href="https://github.com/mathew2004" target="_blank" class="my-3 mx-2" ><i class="ri-github-fill fs-3"></i></a>
        <a href="https://www.facebook.com/evanpurification/" target="_blank" class="my-3 mx-2" ><i class="ri-facebook-fill fs-3"></i></a>
        <a href="https://www.youtube.com/codeground" target="_blank" class="my-3 mx-2" ><i class="ri-youtube-fill fs-3"></i></a>
    </div>

   
    
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
       <i class="fa fa-quote-left"></i> {{about.description}} <i class="fa fa-quote-right"></i>
    </p> 
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="https://www.linkedin.com/in/evangel04/" target="_blank" class="btn btn-primary btn-lg px-4 gap-3"><i class="ri-linkedin-line mt-1"></i>Linkedin</a>
        <a href="https://github.com/mathew2004" target="_blank" class="btn btn-outline-secondary btn-lg px-4"><i class="ri-file-download-line"></i>Resume</a>
      </div>
    </div>
</div>
<div class="b-example-divider"></div>


<div class="info-section container my-6">

    <div class="info" data-aos="zoom-in"
    data-aos-duration="1000">
        <h2 class="fw-bold">Skills:  </h2>
        <ul>
            <li><strong>Front-End:</strong> {{about.fend}} </li>
            <li><strong>Back-End:</strong> {{about.bend}} </li>
            <li><strong>Database:</strong> {{about.db}} </li>
            <li><strong>Programming Languages:</strong> {{about.pl}} </li>
            <li><strong>Tools:</strong> {{about.tools}} </li>
            <li><strong>Software:</strong> {{about.software}} </li>
            
        </ul>

    </div>

    <div class="info" data-aos="zoom-in"
    data-aos-duration="1000">
        <h2 class="fw-bold">Education:  </h2>
        <b >B.Sc. Engineering (2023 - Now )</b>
        <ul>
            
            
            <li><strong>Institution:</strong> Rajshahi University of Engineering and Technology (RUET)  </li>
            <li><strong>Department:</strong> Computer Science and Engineering (CSE)  </li>
            
            
        </ul>

    </div>

    <div class="info" data-aos="zoom-in"
    data-aos-duration="1000">
        <h2 class="fw-bold">Personal Info:  </h2>
        <ul>
            <li><strong>Name:</strong> Evangel Purification </li>
            <li><strong>Email:</strong> purificationevan04@gmail.com </li>
            <li><strong>Phone:</strong> +8801726655657 </li>
            <li><strong>Date of Birth:</strong> March 13,2004  </li>
            <li><strong>Blood Group:</strong> O-(ve) </li>
            <li><strong>Religion:</strong> Christian  </li>
            <li><strong>Nationality:</strong> Bangladeshi </li>
            
        </ul>

    </div>




</div>



{% endblock %}