{% extends 'basic.html' %}

{% block title %} Contact | Evangel {% endblock %}
{% block contactactive %} active {% endblock %}



{% block body %}
<style>
    
  .contact-form{
     
      margin-top: 10%;
      margin-bottom: 5%;
      width: 70%;
      border: 1px solid #999;
      box-shadow: 1px 2px 35px 0px rgba(0,0,0,0.87);
-webkit-box-shadow: 1px 2px 35px 0px rgba(0,0,0,0.87);
-moz-box-shadow: 1px 2px 35px 0px rgba(0,0,0,0.87);
  }
  .contact-form .form-control{
      border-radius:1rem;
  }
  .contact-image{
      text-align: center;
  }
  .contact-image img{
      border-radius: 6rem;
      width: 11%;
      margin-top: -3%;
      transform: rotate(29deg);
  }
  .contact-form form{
      padding: 14%;
  }
  .contact-form form .row{
      margin-bottom: -7%;
  }
  .contact-form h3{
      margin-bottom: 8%;
      margin-top: -10%;
      text-align: center;
      color: #e5e344;
  }
  .contact-form .btnContact {
      width: 50%;
      border: none;
      border-radius: 1rem;
      padding: 1.5%;
      background: #dc3545;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
  }
  .btnContactSubmit
  {
      width: 50%;
      border-radius: 1rem;
      padding: 1.5%;
      color: #fff;
      background-color: #0062cc;
      border: none;
      cursor: pointer;
  }

  @media screen and (max-width: 880px) {
    .contact-form{
     
     margin-top: 10%;
     margin-bottom: 5%;
     width: 100%;
    
      }
      .contact-form .form-control{
          border-radius:1rem;
      }
      .contact-form .btnContact {
  width: 100%;
      }
      
      .contact-image img{
          display: none;
      }
      .contact-form form{
          padding: 10px 3px;
      }
 
 }



</style>

<div class="container contact-form">
    <div class="contact-image">
        <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
    </div>
    <form method="POST" action="/contact/" data-aos="fade-up" data-aos-duration="2000">  {% csrf_token %} 
        <h3 class="fw-bold text-light">CONTACT <span class="text-warning">ME</span></h3>
      

       <div class="row">

            <div class="col-md-6" data-aos="fade-left" data-aos-duration="2000">
                <div class="form-group">
                    <input type="text" name="name" class="form-control my-2" placeholder="Your Name *" value="" required />
                </div>
                <div class="form-group">
                    <input type="email" name="email" class="form-control my-2" placeholder="Your Email *" value="" required />
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <textarea name="msg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;" required></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="btnSubmit" class="btnContact my-3" value="Send Message"  />
                    </div>
                   
                </div>
                
            </div>
            <div class="col-md-6">
              <div class="direct-contact-container" data-aos="fade-right" data-aos-duration="2000">
  
                <ul class="contact-list">
                  <li class="list-item"><i class="ri-map-pin-2-line"><span class="contact-text place">Bonpara, Natore, Rajshahi, BD</span></i></li>
                  
                  <li class="list-item"><i class="ri-phone-line"><span class="contact-text phone"><a href="tel:+8801726655657" title="Give me a call">+8801726655657</a></span></i></li>
                  
                  <li class="list-item"><i class="ri-mail-line"><span class="contact-text gmail"><a href="mailto:purificationevan04p@gmail.com" title="Send me an email">purificationevan04p@gmail.com</a></span></i></li>
                  
                </ul>
        
                <hr>
                <ul class="social-media-list">
                  <li><a href="https://github.com/mathew2004"" target="_blank" class="contact-icon">
                    <i class="ri-github-fill" aria-hidden="true"></i></a>
                  </li>
                  <li><a href="https://www.linkedin.com/in/evangel04/" target="_blank" class="contact-icon">
                    <i class="ri-linkedin-fill" aria-hidden="true"></i></a>
                  </li>
                  <li><a href="https://www.facebook.com/evanpurification/" target="_blank" class="contact-icon">
                    <i class="ri-facebook-fill" aria-hidden="true"></i></a>
                  </li>
                  <li><a href="https://www.youtube.com/codeground" target="_blank" class="contact-icon">
                    <i class="ri-youtube-fill" aria-hidden="true"></i></a>
                  </li>       
                </ul>
                <hr>
        
                <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>
        
              </div>
            </div>
        </div>
    
   

   
    
    
    </form>
</div>

<!--



  
    <h3 class="section-header" data-aos="fade-up" data-aos-duration="2000">Contact Me</h3>
    
    <div class="contact-wrapper">
    
    <!-- Left contact page --> 
    <!--- 
      <form id="contact-form" class="form-horizontal" role="form" action="/contact/" method="POST" data-aos="fade-left" data-aos-duration="2000"> {%csrf_token%}
         
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required>
          </div>
        </div>
  
        <div class="form-group">
          <div class="col-sm-12">
            <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="" required>
          </div>
        </div>
  
        <textarea class="form-control" rows="10" placeholder="MESSAGE" name="msg" required></textarea>
        
        <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
          <div class="alt-send-button">
            <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
          </div>
        
        </button>
        
      </form>
      
    <!-- Left contact page --> 
    <!----
      
        <div class="direct-contact-container" data-aos="fade-right" data-aos-duration="2000">
  
          <ul class="contact-list">
            <li class="list-item"><i class="ri-map-pin-2-line"><span class="contact-text place">Bonpara, Natore, Rajshahi, BD</span></i></li>
            
            <li class="list-item"><i class="ri-phone-line"><span class="contact-text phone"><a href="tel:+8801726655657" title="Give me a call">+8801726655657</a></span></i></li>
            
            <li class="list-item"><i class="ri-mail-line"><span class="contact-text gmail"><a href="mailto:purificationevan04p@gmail.com" title="Send me an email">purificationevan04p@gmail.com</a></span></i></li>
            
          </ul>
  
          <hr>
          <ul class="social-media-list">
            <li><a href="#" target="_blank" class="contact-icon">
              <i class="ri-github-fill" aria-hidden="true"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
              <i class="ri-linkedin-fill" aria-hidden="true"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
              <i class="ri-facebook-fill" aria-hidden="true"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
              <i class="ri-youtube-fill" aria-hidden="true"></i></a>
            </li>       
          </ul>
          <hr>
  
          <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>
  
        </div>
      
    
    
    --->




              {% endblock %}