

/** HomePage Design **/
.home-container{
    display: flex;
    justify-content: space-around;
    margin: 90px 235px;
   
    
}
.home-container .side1{
    height: max-content;
    width: 350px;

    color: aliceblue;
    text-align: right;
    
}
.home-container .side1 h4{
    border-bottom: 1px solid #1A2F3F;
    padding-bottom: 10px;
}
.home-container .side1 h4 .type{
    font-size: 20px;
    font-family: 'Agdasima', sans-serif;
    color: #bdc8d1ed;
    text-transform: uppercase;
}
.home-container .side1 h2{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: #dfeaf4;
    padding-bottom: 10px;
    font-weight: 700;
   
    color: #ffeb3b; background-image: -webkit-linear-gradient(0deg, #ffeb3b 32%, #ffffff 71%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
          
        
    
}
.home-container .side1 p{
    font-size: 15px;
    color: #bfcedcd2;
    line-height: 20px;
    padding-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}
.home-container .side1 a{
    padding: 10px 20px;
    color: #c6cfd6;
    text-decoration: none;
    border: 1px solid #20557d;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}
.home-container .side1 a:hover{
  background-color: #20557d;
  color: #c6cfd6;
  transition: 0.7s linear;
}

.home-container .side2{
    height: max-content;
    width: 300px;
    
    
}
.home-container .side2 img{
    height: 300px;
    width: 300px;
    border: 2px solid #fff;
    -webkit-box-shadow: 7px 5px 12px -5px rgba(0,0,0,0.78); 
box-shadow: 7px 5px 12px -5px rgba(0,0,0,0.78);
    border-radius: 50%;
    filter: opacity(90%);
    
}

.box-home div {
    width: 80px;
    height: 80px;
    border: 3px solid #0994ff82 ;
    border-radius: 5px;
    transform: rotate(39deg);
    position: absolute;
    top: 40%;
    left: 1%;
 }
 .box-home div:nth-child(1){
    top: 12%;
    left: 2%;
    animation: animate 8s linear infinite;
    
    border: 3px solid #ff0984d2 ;
 }
 .box-home div:nth-child(2){
    top: 50%;
    left: 8%;
    animation: animate 7s linear infinite;
    border: 3px solid #fbff09ea ;
 }
 .box-home div:nth-child(3){
    top: 20%;
    left: 78%;
    animation: animate 12s linear infinite;
 }
 .box-home div:nth-child(4){
    top: 72%;
    left: 80%;
    animation: animate 10s linear infinite;
    border: 3px solid #e7dfe3d2 ;
 }

 @keyframes animate {
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 0;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 1;
    }
 }

 /*******
 Mobile View
 ========**/ 
 @media screen and (max-width: 880px) {
    
        .home-container{
            text-align: center;
            
            flex-wrap: wrap;
            flex-direction: column-reverse;
            margin: 20px 90px;
        }
        .home-container .side1{
            text-align: center;
    
        }
                .home-container .side2{
            
                margin: 10px 10px;
            
        }
        .box-home div {
            width: 30px;
            height: 30px;
            border: 3px solid #0994ff82 ;
            transform: rotate(39deg);
            position: absolute;
            top: 40%;
            left: 1%;
        }


        .proj-side2.aos-init.aos-animate {
            width: 350px;
        }
        .proj-container .proj-side2 .carousel-item img{
            height: 280px;
            width: 350px;
            margin-top: 50px;
         
         }

 }



/*****End Mobile***/





 .card-cover:hover{
    transform: scale(1.1);
    transition: 0.4s linear;
 }

 /***Skills Section****/
.skills-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}


 .skill{
    height: max-content;
    width: max-content;
    margin: 15px 30px;
    padding: 15px 5px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    text-align: center;
   
 }
 .skill img{
    height: 200px;
    width: 200px;
 }


 /***About******/
 .about-section img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
 }
 .about-section .links a{
    text-decoration: none;
    color: #fff;
 }

 .about-section .links a:hover{
    color: #fcfa6b;
    transition: 0.4s;
 }

 .info-section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px ;
 }
 .info{
    border: 1px solid #fff;
    background: #111;
    padding: 15px;
    height: 300px;
    width: 350px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, inset 18px -8px 0px -30px #000000; 
    box-shadow: 0px 10px 13px -7px #000000, inset 18px -8px 0px -30px #000000;
 }
 .info h2{
    
  color: #ffe345; background-image: -webkit-linear-gradient(0deg, #ffe345 0%, #f20b7b 86%, #ff6338 76%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
          
        
 }
 .info:hover{
    box-shadow: 10px 10px 5px 0px rgba(245,247,147,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(240, 64, 149, 0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(244, 44, 127, 0.75);
transition: 0.2s ease;
 }


 /***
 ProJects Section
 *****/
.proj-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 90px 50px;
    border: 1px solid #fff;
    padding: 30px;
    height: max-content;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

 .proj-container .proj-side1{
    height: max-content;
    width: 350px;
    color: aliceblue;
    text-align: left;

    
}

.proj-container .proj-side1 h2{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: #dfeaf4;
    padding-bottom: 10px;
    font-weight: 700;
   
    color: #ffeb3b; background-image: -webkit-linear-gradient(0deg, #ffeb3b 32%, #ffffff 71%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
          
}

 
 .proj-side2.aos-init.aos-animate {
    width: 500px;
}
 .proj-container .proj-side2 .carousel-item img{
    height: 280px;
 

 }



 /***=========== 
 Contact
 ============********/
 #contact {
    width: 100%;
    height: 100%;
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 40px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
  }
  
  /* Left contact page */
  .form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .form-control, 
  textarea {
    max-width: 400px;
  
    color: #fff;
    letter-spacing: 1px;
    margin-top: 10px;
  }

  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: -30px;

  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    color: #bbb;
  }
  
  .place,.phone,.gmail{
    margin-left: 9px;
    
  }
  
 
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 10px auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }

 



  /***Logo****/
  